<html>
<head>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>

<div class="container">
    <nav class="navbar navbar-light bg-light">
        <form class="container-fluid justify-content-start">
          <button class="btn btn-outline-success me-2" type="button">General</button>
          <button class="btn btn-outline-success me-2" type="button">Attachment</button>
        </form>
      </nav><br>
    <h3>
    <p style="color:red; ">Vehical Details</p></h3>
    <hr style="height:2px;border-width:0;color:blue;background-color:blue">    
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="firstName" class="col-sm-3 control-label">Sap Code</label>
                    <div class="col-sm-9">
                        <input type="text" id="firstName"  class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-3 control-label">Ledger Name</label>
                    <div class="col-sm-9">
                        <input  value="ADV od56c76" class="form-control">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="country" class="col-sm-3 control-label">Manufacturer</label>
                    <div class="col-sm-9">
                        <select  class="form-control">
                            <option> Mahindra & Mahindra ltd</option>
                            <option> Suzuki & suzuki ltd</option>
                            <option>Bajaj moters</option>
                            <option>Safari</option>
                            
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="country" class="col-sm-3 control-label">Model</label>
                    <div class="col-sm-9">
                        <select id="country" class="form-control">
                            <option>Maruti Wagon</option>
                            <option>Hyundai Creta</option>
                            <option>Toyota Fortuner</option>
                            <option>Ford Figo</option>
                            
                        </select>
                    </div>
                </div> <!-- /.form-group -->
                <div class="form-group">
                    <label for="firstName" class="col-sm-3 control-label required">Base KM</label>
                    <style>
                        .required:after {
                          content:" *";
                          color: red;
                        }</style>
                    <div class="col-sm-9">
                        <input type="text" id="firstName" placeholder="0" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="country" class="col-sm-3 control-label required">Vehical Type</label>
                    <style>
                        .required:after {
                          content:" *";
                          color: red;
                        }</style>
                    <div class="col-sm-9">
                        <select id="country" class="form-control">
                            <option>STATION WAGON</option>
                            <option>HATCHBACK. </option>
                            <option>CONVERTIBLE</option>
                            
                        </select>
                    </div>
                </div> <!-- /.form-group -->
                
                <div class="form-group">
                    <label for="country" class="col-sm-3 control-label">RTO</label>
                    <div class="col-sm-9">
                        <select id="country" class="form-control">
                            <option>Gujrat</option>
                            <option>Delhi </option>
                            <option>Lucknow</option>
                            
                        </select>
                    </div>
                </div> <!-- /.form-group -->
                
                <h3>
                    <p style="color:red; ">Engine Details</p></h3>
                    <hr style="height:2px;border-width:0;color:blue;background-color:blue">
            <div class="form-group">
                <label for="country" class="col-sm-3 control-label">Model Year</label>
                <div class="col-sm-9">
                    <select id="country" class="form-control">
                        <option>2021</option>
                        <option>2020 </option>
                        <option>2019</option>
                        
                    </select>
                </div>
            </div> <!-- /.form-group -->
            <div class="form-group">
                <label  class="col-sm-3 control-label">Chasis Number</label>
                <div class="col-sm-9">
                    <input  value="1YVHZ8BH8A5M15818" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="country" class="col-sm-3 control-label">Fuel Type</label>
                <div class="col-sm-9">
                    <select id="country" class="form-control">
                        <option>Petrol</option>
                        <option>Disel </option>
                        
                    </select>
                </div>

            </div> <!-- /.form-group -->
            <div class="form-group">
                    <label for="firstName" class="col-sm-3 control-label">Old vehical no</label>
                    <div class="col-sm-9">
                        <input type="text" id="firstName"  class="form-control" autofocus>
                    </div>
                </div>

        </div> <!-- ./container -->
    </form> <!-- /form -->

</html>