<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF OUTPUT</title>
    <style>
        @page {
            size: "A4";
            margin: 2.5cm 1.5cm 3.5cm 1.5cm;

            @top-center {
                content: "DealerSahab";
            }

            @bottom-rigth {
                content: "Page  "counter(page) " of "counter(pages);
            }
        }
    </style>
</head>

<body>
    <div class="table">
        <div class="thead">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>First Name</th>.</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Country</th>
                </tr>
            </thead>
            <tbody>
                {% for dta in data%}
                <tr>
                    <th>{{forloop.counter}}</th>
                    <th>{{dta.fname}}</th>
                    <th>{{dta.lname}}</th>
                    <th>{{dta.email}}</th>
                    <th>{{dta.mobile}}</th>
                    <th>{{dta.country}}</th>
                </tr>
                {%endfor%}
            </tbody>
        </div>
    </div>
</body>

</html>